{{ range $movie := hugo.Data.movies }}
  {{ $channel_count := partial "channel-count.html" (dict "id" $movie.id "type" "movie") }}

  {{ $params := dict
    "id" $movie.id
    "runtime" $movie.runtime
    "genres" $movie.genres
    "channels" $channel_count
  }}

  {{ $page := dict
    "kind" "page"
    "title" $movie.title
    "dates" (dict "date" (time $movie.date))
    "params" $params
    "slug" $movie.id
    "path" $movie.id
  }}

  {{ $.AddPage $page }}
{{ end }}
