{{ range $channel := hugo.Data.channels }}
  {{ $params := dict
    "id" $channel.id
  }}

  {{ $page := dict
    "kind" "page"
    "title" $channel.title
    "dates" (dict "date" (time $channel.date))
    "params" $params
    "path" (lower $channel.id)
  }}

  {{ $.AddPage $page }}
{{ end }}
