:root {
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #212224;
  color: #adb7be;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}
