{{ $type := .type | default "full" }}
{{ with .tvSeries }}
  {{ $title := .LinkTitle }}

  <article class="{{ $type }}">
    {{ $link := .RelPermalink }}
    {{ if ne $type "teaser" }}
      <h1 data-name="{{ $title }}">{{ $title }}</h1>
    {{ end }}
    {{ with resources.Get (print "images/tv-series/" .Params.id ".jpg") }}
      {{ if eq $type "teaser" }}
        <a class="image" href="{{ $link }}">
          <img src="{{ .RelPermalink }}" width="180" loading="lazy" alt="'{{ $title }}' poster.">
        </a>
      {{ else }}
        <img class="image" src="{{ .RelPermalink }}" width="150" alt="'{{ $title }}' poster.">
      {{ end }}
    {{ end }}
    <div class="details">
      {{ if eq $type "teaser" }}
        <h2 data-name="{{ $title }}">
          <a href="{{ $link }}">{{ $title }}</a>
        </h2>
      {{ end }}
      <p class="date" data-date="{{ .Date | dateFormat "2006-01-02" }}">Released: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p class="seasons" data-seasons="{{ .Params.seasons }}">Seasons: {{ .Params.seasons }}</p>
      <p class="genres">Genres: {{ delimit .Params.genres ", " }}</p>
      <ul style="display: none;">
        {{ range .Params.genres }}
          <li data-genre="{{ . }}">{{ . }}</li>
        {{ end }}
      </ul>
      <p class="channels" data-channels="{{ .Params.channels }}">Channels: {{ .Params.channels }}</p>
      <p class="link"><a href="https://www.themoviedb.org/tv/{{ .Params.id }}">View on TMDB</a></p>
    </div>
  </article>

{{ end }}
