{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ range (.Pages.ByDate.ByParam "channels").Reverse }}
    {{ $title := .LinkTitle }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
      <p>Released: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p>Runtime: {{ .Params.runtime }} mins</p>
      <p>Genres:</p>
      <ul>
        {{ range .Params.genres }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
      <p>Channels: {{ .Params.channels }}</p>
      <p><a href="https://www.themoviedb.org/movie/{{ .Params.id }}">View on TMDB</a></p>
      {{ with resources.Get (print "images/movies/" .Params.id ".jpg") }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="Poster for the movie '{{ $.Title }}'.">
      {{ end }}
    </section>
  {{ end }}
{{ end }}
