{{ define "main" }}
  {{ $channels := where site.RegularPages "Section" "channels" }}
  {{ range ($channels.ByParam "videos").Reverse.Limit 3 }}
    {{ $title := .LinkTitle }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
      <p>Launched: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p>Videos: {{ .Params.videos }}</p>
      <p><a href="https://www.youtube.com/channel/{{ .Params.id }}">View on YouTube</a></p>
      {{ with resources.Get (print "images/channels/" .Params.id ".jpg") }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Logo for the channel '{{ $title }}'.">
      {{ end }}
    </section>
  {{ end }}

  {{ $movies := where site.RegularPages "Section" "movies" }}
  {{ range ($movies.ByParam "channels").Reverse.Limit 5 }}
    {{ $title := .LinkTitle }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
      <p>Released: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p>Runtime: {{ .Params.runtime }} mins</p>
      <p>Genres:</p>
      <ul>
        {{ range .Params.genres }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
      <p>Channels: {{ .Params.channels }}</p>
      <p><a href="https://www.themoviedb.org/movie/{{ .Params.id }}">View on TMDB</a></p>
      {{ with resources.Get (print "images/movies/" .Params.id ".jpg") }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Poster for the movie '{{ $.Title }}'.">
      {{ end }}
    </section>
  {{ end }}

  {{ $tv_series := where site.RegularPages "Section" "tv-series" }}
  {{ range ($tv_series.ByParam "channels").Reverse.Limit 5 }}
    {{ $title := .LinkTitle }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
      <p>Released: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p>Seasons: {{ .Params.seasons }}</p>
      <p>Genres:</p>
      <ul>
        {{ range .Params.genres }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
      <p>Channels: {{ .Params.channels }}</p>
      <p><a href="https://www.themoviedb.org/tv/{{ .Params.id }}">View on TMDB</a></p>
      {{ with resources.Get (print "images/tv-series/" .Params.id ".jpg") }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Poster for the TV series '{{ $.Title }}'.">
      {{ end }}
    </section>
  {{ end }}
{{ end }}
