{{ define "main" }}

<section id="channels">
  <h1>Top Channels</h1>
  <div class="articles">
    {{ $channels := (site.GetPage "/channels").RegularPages }}
    {{ range ($channels.ByDate.ByParam "videos").Reverse.Limit 4 }}
      {{ partial "channels/channel.html" (dict "channel" . "type" "teaser") }}
    {{ end }}
  </div>
  <p class="more"><a href="/channels">All channels</a></p>
</section>

<section id="movies">
  <h1>Top Movies</h1>
  <div class="articles">
    {{ $movies := (site.GetPage "/movies").RegularPages }}
    {{ range ($movies.ByDate.ByParam "channels").Reverse.Limit 4 }}
      {{ partial "tmdb/movie.html" (dict "movie" . "type" "teaser") }}
    {{ end }}
  </div>
  <p class="more"><a href="/movies">All movies</a></p>
</section>

<section id="tv-series">
  <h1>Top TV Series</h1>
  <div class="articles">
    {{ $tv_series := (site.GetPage "/tv-series").RegularPages }}
    {{ range ($tv_series.ByDate.ByParam "channels").Reverse.Limit 4 }}
      {{ partial "tmdb/tv-series.html" (dict "tvSeries" . "type" "teaser") }}
    {{ end }}
  </div>
  <p class="more"><a href="/tv-series">All TV series</a></p>
</section>

{{ end }}
