{{ define "main" }}
<h1>{{ site.Title }}</h1>

<section id="channels">
  <h2>Channels</h2>
  {{ $channels := (site.GetPage "/channels").RegularPages }}
  {{ range ($channels.ByDate.ByParam "videos").Reverse.Limit 3 }}
    {{ partial "channels/channel.html" (dict "channel" . "type" "teaser") }}
  {{ end }}
</section>

<section id="movies">
  <h2>Movies</h2>
  {{ $movies := (site.GetPage "/movies").RegularPages }}
  {{ range ($movies.ByDate.ByParam "channels").Reverse.Limit 5 }}
    {{ partial "tmdb/movie.html" (dict "movie" . "type" "teaser") }}
  {{ end }}
</section>

<section id="tv-series">
  <h2>TV Series</h2>
  {{ $tv_series := (site.GetPage "/tv-series").RegularPages }}
  {{ range ($tv_series.ByDate.ByParam "channels").Reverse.Limit 5 }}
    {{ partial "tmdb/tv-series.html" (dict "tvSeries" . "type" "teaser") }}
  {{ end }}
</section>

{{ end }}
