{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ range (.Pages.ByDate.ByParam "videos").Reverse }}
    {{ $title := .LinkTitle }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
      <p>Launched: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p>Videos: {{ .Params.videos }}</p>
      <p><a href="https://www.youtube.com/channel/{{ .Params.id }}">View on YouTube</a></p>
      {{ with resources.Get (print "images/channels/" .Params.id ".jpg") }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="Logo for the channel '{{ $title }}'.">
      {{ end }}
    </section>
  {{ end }}

  <p id="empty">No results</p>
  <div id="pager"></div>
{{ end }}
