{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div id="channels">
    <input class="fuzzy-search" type="search" placeholder="Search">
    <p>Sort by:
      <span class="sort" data-sort="title">Name</span>
      <span class="sort" data-sort="date" data-default-order="desc">Date</span>
      <span class="sort desc" data-sort="count" data-default-order="desc">Videos</span>
    </p>
    <div class="list">

      {{ range (.Pages.ByDate.ByParam "videos").Reverse }}
        {{ $title := .LinkTitle }}
        <section>
          <h2><a href="{{ .RelPermalink }}"><span class="title">{{ $title }}</span></a></h2>
          <p class="date" data-date="{{ .Date | dateFormat "2006-01-02" }}">Launched: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
          <p>Videos: <span class="count">{{ .Params.videos }}</span></p>
          <p><a href="https://www.youtube.com/channel/{{ .Params.id }}">View on YouTube</a></p>
          {{ with resources.Get (print "images/channels/" .Params.id ".jpg") }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="Logo for the channel '{{ $title }}'.">
          {{ end }}
        </section>
      {{ end }}

    </div>
    <ul class="pagination"></ul>
  </div>
{{ end }}
