{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div id="sort"></div>

  {{ range (.Pages.ByDate.ByParam "videos").Reverse }}
    {{ $title := .LinkTitle }}
    <section>
      <h2 data-name="{{ $title }}"><a href="{{ .RelPermalink }}">{{ $title }}</a></h2>
      <p data-date="{{ .Date | dateFormat "2006-01-02" }}">Launched: {{ .Date | dateFormat .Site.Params.dateFormat }}</p>
      <p data-videos="{{ .Params.videos }}">Videos: {{ .Params.videos }}</p>
      <p><a href="https://www.youtube.com/channel/{{ .Params.id }}">View on YouTube</a></p>
      {{ with resources.Get (print "images/channels/" .Params.id ".jpg") }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="Logo for the channel '{{ $title }}'.">
      {{ end }}
    </section>
  {{ end }}

  <p id="empty">No results</p>
  <div id="pager"></div>
{{ end }}
